@using EmailSmsMarketing.Web.Models.ForgotPassword
@model ForgotPasswordViewModel;
@{
    ViewBag.Title = "ForgotPass";
    ViewBag.TitlePage = "Reset Password";
    ViewBag.Description = "Please enter email address used for your registration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm())
{
    using (Html.DevExtreme().ValidationGroup())
    {
        @Html.AntiForgeryToken()
        <div class="dx-field">
            <br/>
            <div class="dx-field">
                @Html.DevExtreme().TextBoxFor(m => m.Email).Placeholder("Enter your email")
            </div>
            
            <div class="mt-2 mb-2 text-end">
                @(Html.DevExtreme().Button()
                    .Width("100%")
                    .Text("Send request")
                    .Type(ButtonType.Success)
                    .UseSubmitBehavior(true)
                    )
            </div>

            
        </div>
        <div style="text-align:right">
            <a asp-controller="Account" asp-action="Login" class="text-muted">Login Page</a>
        </div>
    }
}
